doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    link(rel='stylesheet', href=css)
    script(src="http://localhost:3030/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src=js)
    script(src="../../javascript/socket.js")
  body
    block content
