#fon{position:fixed;top:0;left:0;height:100%;width:100%;background-image:url(/images/pic2_1.jpg);background-color:#ffe4e1}
#smole_fon{position:absolute;top:100px;left:10%;background-color:#ffe4e1;border:2px solid #e9967a;opacity:.8;padding:2%;line-height:2;height:570px;width:32%}
#name{position:fixed;top:10px;left:1300px;font-size:36px;font-style:italic;color:#000}
#table_fon{position:absolute;top:10px;left:10px;opacity:.8;padding:2%;line-height:2;background-color:#ffe4e1}
.table{background-color:#ffe4e1;border:2px solid #e9967a;height:50px;width:640px;position:relative;margin:auto}
#home{font-size:30px;font-style:italic;color:#ffb6c1;position:absolute;left:20px}
#botton{font-size:18px;font-style:italic;color:#000;background-color:#ffe4e1;border:2px solid #ffe4e1}th{font-style:italic}